<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signin.css">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="#home" class="logo">
            <img src="/src/assets/img/logo_nom_-_noir.png" alt="nebula" srcset="">
        </a>
    </header>

    <form action="/action_page.php">
        <div class="container">
            <h1>Connexion</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Entre ton e-mail" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Entre ton mot de passe" name="psw" id="psw" required>

            <hr>

            <button type="submit" class="registerbtn">Se connecter</button>
        </div>

        <div class="container signin">
            <p>Vous n'avez pas encore de compte ? <a href="/index.html">S'enregistrer</a>.</p>
        </div>
    </form>
</body>

</html>